<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%- include('../layout/link') %>

	<title>CyBurning</title>
</head>
<body>
	


	<!-- SIDEBAR -->
		<%- include('../layout/sidebar') %>
	<!-- SIDEBAR -->
	



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
			<%- include('../layout/header') %>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="/cms/dashboard">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul>
				</div>
				<!-- <a href="#" class="btn-download">
					<i class='bx bxs-cloud-download' ></i>
					<span class="text">Download Manual</span>
				</a> -->
			</div>

			<ul class="box-info">
				<li>
					<i class='bx bx-notepad' ></i>
					<span class="text">
						<h3><%= postCount %></h3>
						<p>Total Post</p>
					</span>
				</li>
				<li>
					<i class='bx bxs-group' ></i>
					<span class="text">
						<h3><%= teamCount %></h3>
						<p>Total Team</p>
					</span>
				</li>
				<li>
					<i class='bx bx-briefcase' ></i>
					<span class="text">
						<h3><%= packagesCount %></h3>
						<p>Total Package</p>
					</span>
				</li>
			</ul>


			<div class="table-data">
				<div class="order">
					<div class="head">
						<h3>Recent Posts</h3>
					</div>
					<table>
						<thead>
							<tr>
								<th>Post</th>
								<th>Date Order</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<% posts.forEach(post => { %>
							<tr>
								<td>
									<img src="<%= post.featured_image ? post.featured_image : '/images/default.jpg' %>">
									<p><%= post.title %></p>
								</td>
								<td><%= new Date(post.createdAt).toLocaleDateString() %></td>
								<td><span class="status <%= post.published ? 'completed' : 'pending' %>"><%= post.published ? 'published' : 'unpublished' %></span></td>
							</tr>
							<% }) %>
						</tbody>
					</table>
				</div>
				<div class="todo">
					<div class="head">
						<h3>Active Users</h3>
					</div>
					<ul class="todo-list">
						<% users.forEach(user => { %>
						<li class="<%= user.status == 'active' ? 'completed' : 'not-completed' %>">
							<img src="<%= user.featured_image ? user.featured_image : '/images/icons/profile.png' %>">
							<p><%= user.username %></p>
							<i class='bx bx-dots-vertical-rounded' ></i>
						</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
	<%- include('../layout/script') %>

</body>
</html>