<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../../layout/link') %>

    <title>CyBurning</title>
  </head>

  <body>
    <!-- SIDEBAR -->
    <%- include('../../layout/sidebar') %>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <%- include('../../layout/header') %>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1><%= cat ? 'Edit Category' : 'Add Category' %></h1>
            <ul class="breadcrumb">
              <li>
                <a href="/cms/dashboard">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a href="/cms/category">Category</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active"><%= cat ? 'Edit Category' : 'Add Category' %></a>
              </li>
            </ul>
          </div>
          <a href="/cms/category" class="btn-create">
            <i class="fas fa-arrow-left"></i>
            <span class="text">Back</span>
          </a>
        </div>

        <form action="<%= cat ? '/cms/category/edit/' + cat._id : '/cms/category/create' %>" method="POST" enctype="multipart/form-data">
          <div class="form-container">
            <div class="post-right-container col-md-7 col-sm-12">
              <div class="form-box">
                <div class="form-label">
                  <label for="title">Title</label
                  ><span class="important">*</span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="title"
                  value="<%= cat ? cat.title : (formData.title || '') %>" />
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="slug">Slug</label><span class="important">*</span>
                </div>
                <input type="text" class="form-control" name="slug" id="slug" value="<%= cat ? cat.slug : (formData.slug || '') %>" />
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="tag_line">Tag Line</label>
                </div>
                <input type="text" class="form-control" name="tag_line"  value="<%= cat ? cat.tag_line : (formData.tag_line || '') %>" /> 
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="Parent">Parent</label>
                </div>
                <select name="parent" class="select-parent form-control">
                  <option value="None">None</option>
                  <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.title %></option>
                  <% }) %>
                </select>
                
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="content">Content</label>
                </div>
                <textarea
                  type="text"
                  class="form-control"
                  name="content"
                  rows="7"
                  cols="7"
                  id="description"
                  value="<%= cat ? cat.content : (formData.content || '') %>" >
                </textarea>
              </div>
              <% if (Array.isArray(customField) && customField.length) { %>
                <% customField.forEach(field => { %>
                  <% field.target_type.forEach((fields, index) => { %>
                    <% if(fields.slug == 'text'){ %>
                    <div class="form-box">
                      <div class="form-label">
                        <label for="<%= field.label_name[index] %>"><%= field.label_name[index] %></label>
                      </div>
                      <input type="<%= fields.name %>" class="form-control" name="<%= field.field_name[index] %>" id="<%= field.label_name[index] %>"
                        value="" />
                    </div>
                    <% }else if(fields.slug == 'textarea'){ %>
                      <div class="form-box">
                        <div class="form-label">
                          <label for="<%= field.label_name[index] %>"><%= field.label_name[index] %></label>
                        </div>
                        <textarea type="<%= fields.name %>" class="form-control" name="<%= field.field_name[index] %>" rows="7"
                          cols="7"></textarea>
                      </div>
                    <% }else if(fields.slug == 'direct-image-uploader') { %>
                      <div class="form-box">
                        <div class="form-label">
                          <label for="<%= field.label_name[index] %>"><%= field.label_name[index] %></label>
                        </div>
                        <div class="upload-container-one">
                          <input id="custom-upload-input-one" type="file" accept="image/*" name="<%= field.field_name[index] %>" hidden />
                          <div id="custom-image-container-one" class=" d-flex justify-content-center">
                            <img src="/images/upload.png" class="custom-uploaded-image" />
                          </div>
                          <label for="custom-upload-input-one">Upload Image</label>
                        </div>
                      </div>
                    <% }%>
                  <% }) %>
                <% }) %>
                <% } %>
            </div>

            <div class="post-left-container col-md-4 col-sm-12">
              <div class="form-box" style="margin-bottom: 15px">
                <div class="form-label">
                  <label for="Published">Published</label>
                  <div class="form-check form-switch" style="margin-top: 10px">
                    <label class="form-check-label" for="Status">Status</label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="status"
                      name="status"
                      <%=cat &&
                            cat.status ? 'checked' : '' %>
                    />
                  </div>
                </div>
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="Published_date">Featued Image</label>
                </div>
                <div class="upload-container-one">
                  <input
                    id="upload-input-one"
                    name="category_image"
                    type="file"
                    accept="image/*"
                    hidden
                  />
                  <div id="image-container-one">
                    <img src="<%= cat ? cat.featured_image : '/images/upload.png' %>" class="uploaded-image" />
                  </div>
                  <label for="upload-input-one">Upload Image</label>
                </div>
              </div>
              <!-- Category Order -->
              <div class="form-box">
                <div class="form-label">
                  <label for="order">Order</label><span class="important">*</span>
                </div>
                <input
                  type="number"
                  class="form-control"
                  name="order"
                  id="order"
                  value="<%= cat ? cat.order : (formData.order || 999) %>"
                  placeholder="Enter category order"
                />
              </div>
              
              <input type="submit" class="full-submit-button form-control" />
              <input
                type="button"
                class="cancel-button form-control"
                value="cancel"
              />
              <div class="button-box">
                <input type="submit" class="submit-button form-control" />
                <input
                  type="button"
                  class="cancel-button form-control"
                  value="cancel"
                />
              </div>
            </div>
          </div>
        </form>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <%- include('../../layout/script') %>
    <script>
      ClassicEditor.create(document.querySelector("#description"), {
        toolbar: {
          items: [
            "exportPDF",
            "exportWord",
            "|",
            "findAndReplace",
            "selectAll",
            "|",
            "heading",
            "|",
            "bold",
            "italic",
            "strikethrough",
            "underline",
            "code",
            "subscript",
            "superscript",
            "removeFormat",
            "|",
            "bulletedList",
            "numberedList",
            "todoList",
            "|",
            "outdent",
            "indent",
            "|",
            "undo",
            "redo",
            "-",
            "fontSize",
            "fontFamily",
            "fontColor",
            "fontBackgroundColor",
            "highlight",
            "|",
            "alignment",
            "|",
            "link",
            "uploadImage",
            "blockQuote",
            "insertTable",
            "mediaEmbed",
            "codeBlock",
            "htmlEmbed",
            "|",
            "specialCharacters",
            "horizontalLine",
            "pageBreak",
            "|",
            "textPartLanguage",
            "|",
            "sourceEditing",
          ],
          shouldNotGroupWhenFull: true,
        },
        // Changing the language of the interface requires loading the language file using the <script> tag.
        // language: 'es',
        list: {
          properties: {
            styles: true,
            startIndex: true,
            reversed: true,
          },
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
        heading: {
          options: [
            {
              model: "paragraph",
              title: "Paragraph",
              class: "ck-heading_paragraph",
            },
            {
              model: "heading1",
              view: "h1",
              title: "Heading 1",
              class: "ck-heading_heading1",
            },
            {
              model: "heading2",
              view: "h2",
              title: "Heading 2",
              class: "ck-heading_heading2",
            },
            {
              model: "heading3",
              view: "h3",
              title: "Heading 3",
              class: "ck-heading_heading3",
            },
            {
              model: "heading4",
              view: "h4",
              title: "Heading 4",
              class: "ck-heading_heading4",
            },
            {
              model: "heading5",
              view: "h5",
              title: "Heading 5",
              class: "ck-heading_heading5",
            },
            {
              model: "heading6",
              view: "h6",
              title: "Heading 6",
              class: "ck-heading_heading6",
            },
          ],
        },
        fontFamily: {
          options: [
            "default",
            "Arial, Helvetica, sans-serif",
            "Courier New, Courier, monospace",
            "Georgia, serif",
            "Lucida Sans Unicode, Lucida Grande, sans-serif",
            "Tahoma, Geneva, sans-serif",
            "Times New Roman, Times, serif",
            "Trebuchet MS, Helvetica, sans-serif",
            "Verdana, Geneva, sans-serif",
          ],
          supportAllValues: true,
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
        fontSize: {
          options: [10, 12, 14, "default", 18, 20, 22],
          supportAllValues: true,
        },
        // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
        // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
        htmlSupport: {
          allow: [
            {
              name: /.*/,
              attributes: true,
              classes: true,
              styles: true,
            },
          ],
        },
        // Be careful with enabling previews
        // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
        htmlEmbed: {
          showPreviews: true,
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/link.html#custom-link-attributes-decorators
        link: {
          decorators: {
            addTargetToExternalLinks: true,
            defaultProtocol: "https://",
            toggleDownloadable: {
              mode: "manual",
              label: "Downloadable",
              attributes: {
                download: "file",
              },
            },
          },
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
        mention: {
          feeds: [
            {
              marker: "@",
              feed: [
                "@apple",
                "@bears",
                "@brownie",
                "@cake",
                "@cake",
                "@candy",
                "@canes",
                "@chocolate",
                "@cookie",
                "@cotton",
                "@cream",
                "@cupcake",
                "@danish",
                "@donut",
                "@dragée",
                "@fruitcake",
                "@gingerbread",
                "@gummi",
                "@ice",
                "@jelly-o",
                "@liquorice",
                "@macaroon",
                "@marzipan",
                "@oat",
                "@pie",
                "@plum",
                "@pudding",
                "@sesame",
                "@snaps",
                "@soufflé",
                "@sugar",
                "@sweet",
                "@topping",
                "@wafer",
              ],
              minimumCharacters: 1,
            },
          ],
        },
        // The "superbuild" contains more premium features that require additional configuration, disable them below.
        // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
        removePlugins: [
          // These two are commercial, but you can try them out without registering to a trial.
          // 'ExportPdf',
          // 'ExportWord',
          "AIAssistant",
          "CKBox",
          "CKFinder",
          "EasyImage",
          // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
          // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
          // Storing images as Base64 is usually a very bad idea.
          // Replace it on production website with other solutions:
          // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
          // 'Base64UploadAdapter',
          "MultiLevelList",
          "RealTimeCollaborativeComments",
          "RealTimeCollaborativeTrackChanges",
          "RealTimeCollaborativeRevisionHistory",
          "PresenceList",
          "Comments",
          "TrackChanges",
          "TrackChangesData",
          "RevisionHistory",
          "Pagination",
          "WProofreader",
          // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
          // from a local file system (file://) - load this site via HTTP server if you enable MathType.
          "MathType",
          // The following features are part of the Productivity Pack and require additional license.
          "SlashCommand",
          "Template",
          "DocumentOutline",
          "FormatPainter",
          "TableOfContents",
          "PasteFromOfficeEnhanced",
          "CaseChange",
        ],
      });

      $(document).ready(function domReady() {
        $(".select-parent").select2({
          placeholder: "Parent",
        });
      });

      flatpickr("#date", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
      });
    </script>

    <script>
      $("#title").on("keyup", function () {
        var theTitle = this.value.toLowerCase().trim();
        var slugInput = $("#slug");
        var theSlug = theTitle
          .replace(/&/g, "-and-")
          .replace(/[^a-z0-9-]+/g, "-")
          .replace(/\-\-+/g, "-")
          .replace(/^-+|-+$/g, "");
        slugInput.val(theSlug);
      });

    
      
    </script>
  </body>
</html>