<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <%- include('../../layout/link') %>
    <title>CyBurning</title>
  </head>

  <body>
    <!-- SIDEBAR -->
    <%- include('../../layout/sidebar') %>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <%- include('../../layout/header') %>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>
              <%= role ? 'Edit Role' : 'Add Role' %>
            </h1>
            <ul class="breadcrumb">
              <li>
                <a href="/cms/dashboard">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a href="/cms/role">Role</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <!-- <a class="active">Add Role</a> -->
                <h1>
                  <%= role ? 'Edit Role' : 'Add Role' %>
                </h1>
              </li>
            </ul>
          </div>
          <a href="/cms/role" class="btn-create">
            <i class="fas fa-arrow-left"></i>
            <span class="text">Back</span>
          </a>
        </div>
        <!-- Display Validation Errors -->
          <% if (errorMessages && errorMessages.length> 0) { %>
            <div class="alert alert-danger">
              <ul>
                <% errorMessages.forEach(function(error) { %>
                  <li>
                    <%= error %>
                  </li>
                  <% }); %>
              </ul>
            </div>
            <% } %>

        <form action="<%= role ? '/cms/role/edit/' + role._id : '/cms/role/create' %>" method="post">
          <div class="form-container">
            <div class="post-right-container col-md-7 col-sm-12">
              <div class="form-box">
                <div class="form-label">
                  <label for="Role">Role</label><span class="important">*</span>
                </div>
                <input type="text" class="form-control" name="name" id="role" 
                value="<%= role ? role.name : (typeof formData !== 'undefined' && formData.nane || '') %>" />
              </div>

              <div class="form-box">
                <div class="form-label">
                  <label for="slug">Slug</label><span class="important">*</span>
                </div>
                <input type="text" class="form-control" name="slug" id="slug" 
                value="<%= role ? role.slug : '' %>" />
              </div>
            </div>

            <div class="post-left-container col-md-4 col-sm-12">
              <div class="form-box" style="margin-bottom: 15px">
                <div class="form-label">
                  <label for="Published">Published</label>
                  <div class="form-check form-switch" style="margin-top: 10px">
                    <label class="form-check-label" for="Status">Status</label>
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="status"
                      name="published"
                      <%= role && role.published ? 'checked' : '' %>
                    />
                  </div>
                </div>
              </div>

              <!-- <div class="form-box">
                <div class="form-label">
                  <label for="Published_date">Featued Image</label>
                </div>
                <div class="upload-container-one">
                  <input
                    id="upload-input-one"
                    type="file"
                    accept="image/*"
                    hidden
                  />
                  <div id="image-container-one">
                    <img
                      src="public/images/upload.png"
                      class="uploaded-image"
                    />
                  </div>
                  <label for="upload-input-one">Upload Image</label>
                </div>
              </div> -->
              <input type="submit" class="full-submit-button form-control" />
              <input
                type="button"
                class="cancel-button form-control"
                value="cancel"
              />
              <div class="button-box">
                <input type="submit" class="submit-button form-control" />
                <input
                  type="button"
                  class="cancel-button form-control"
                  value="cancel"
                />
              </div>
            </div>
          </div>
        </form>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <%- include('../../layout/script') %>
  </body>
</html>
