<!-- package section -->
<div class="package-section">
  <div class="container">
      <div class="tagline" data-aos="fade-up">Price & Plans</div>
      <div class="title" data-aos="fade-up">Choose Your Perfect Plans</div>
      <div class="row gap-5" style="justify-content: center">
          <!-- Loop through the packages array -->
          <% packages.forEach(pkg => { %>
          <div class="package-card col-12 col-md-3 pb-4" data-aos="fade-up">
              <div class="icon-container">
                  <!-- Placeholder image for package (can be made dynamic if needed) -->
                  <img class="w-100" src="./goodwill-cleaning/images/small_logo.png" alt="<%= pkg.title %>" />
              </div>
              <div class="package-info">
                  <!-- Display Package Title -->
                  <div class="heading"><%= pkg.title %></div>
                  <!-- Display Package Price and Currency -->
                  <div class="price"><%= pkg.price %> <%= pkg.currency %></div>
                  <!-- Display Package Includes -->
                  <ul>
                      <% if (pkg.includes && Array.isArray(pkg.includes)) { %>
                          <% pkg.includes.forEach(feature => { %>
                              <li><i class="fa-solid fa-check"></i> <%= feature %></li>
                          <% }) %>
                      <% } else { %>
                          <li>No features available</li>
                      <% } %>
                  </ul>
                  <!-- Placeholder for "Get Started" button -->
                  <a href="#" class="btn btn-primary btn-round mr-md-4 py-2 px-4">
                      Get Started <span class="ion-ios-arrow-forward"></span>
                  </a>
              </div>
          </div>
          <% }) %>
      </div>
  </div>
</div>
