<!-- Meta tags and title -->
<%- include('../partials/header/meta_tags') %>
    <title>Goodwill Cleaning</title>


    <!-- Include stylesheets and links -->
    <%- include('../partials/header/links') %>


        <!-- Desktop Navigation -->
        <%- include('../partials/header/desktop_navigation') %>

            <!-- Mobile Navigation -->
            <%- include('../partials/header/mobile_navigation') %>


                <!-- Inner Hero Section -->
                <div class="inner-list-hero my-3">
                    <div class="list-overlay">
                        <div class="container">
                            <div class="list-contains">
                                <!-- Display the Category Title -->
                                <div class="title" data-aos="fade-up">
                                    <%= category.title %>
                                </div>
                                <ul class="breadcrumb" data-aos="fade-up">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li><i class="bx bx-chevron-right"></i></li>
                                    <li>
                                        <!-- Use category title in breadcrumb -->
                                        <a class="active">
                                            <%= category.title %>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Posts Section -->
                <div class="container">
                    <div class="row my-5">
                        <% posts.forEach(post=> { %>
                            <div class="blog-card col-12 col-md-4 mb-8" data-aos="fade-up">
                                <a href="/post/<%= post._id %>">
                                    <div class="image-container">
                                        <img class="w-100" src="<%= post.featured_image || '/images/default.jpg' %>"
                                            alt="<%= post.title %>" />
                                    </div>
                                    <div class="blog-contains">
                                        <div class="heading">
                                            <%= post.title %>
                                        </div>
                                        <span class="date-line">
                                            <%= new Date(post.published_date).toLocaleDateString() %>
                                        </span>
                                        <p class="dark-gray-text">
                                            <%= post.summary %>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <% }) %>
                    </div>
                </div>
                <!-- Include Footer -->
                <%- include('../partials/footer/footer') %>

                    <!-- Include Scripts -->
                    <%- include('../partials/footer/scripts') %>
                        </body>

                        </html>